.container {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 2fr, 1fr, 2fr, 1fr);
    grid-template-areas: 
    'hero'
    'nav'
    'content-container'
    'footer';
}

.hero {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    'heading'
    'sub-heading';
    grid-area: hero;
    padding: 3rem 2rem 2rem;
    border-top: solid 1px #8C8C8C;
}

.hero-border {
    border-bottom: solid 1px #8C8C8C;
}

.hero-heading, .hero-subheading, .avatar, .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-heading {
    grid-area: heading;
}

.hero-subheading {
    grid-area: sub-heading;
    margin: 0 auto;
    text-align: center;
}

.content-container {
    grid-area: content-container;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    'content-area';
    background-color: #f2f2f2;
}

.blog-container {
    grid-area: content-container;
    display: grid;
    grid-template-columns : auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'blog'
    'about';
    padding: 2rem;
}

.blog {
    grid-area: blog;
    display: flex;
}

.form-container {
    grid-area: content-container;
    display: grid;
    grid-template-columns : auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'form'
    'about';
    padding: 2rem;
}

.form {
    grid-area: form;
    display: flex;
}

.about {
    grid-area: about;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: 
    'about-avatar'
    'about-content'
    'about-social';
    padding: 1rem 0;
}

.about-avatar {
    display: flex;
    grid-area: about-avatar;
    justify-content: center;
}

.about-content {
    display: flex;
    grid-area: about-content;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.about-social {
    display: flex;
    grid-area: about-social;
    justify-content: center;
    justify-items: center;
    text-align: center;
    border-bottom: solid 1px #8C8C8C;
}

.content {
    grid-area: content-area;
    display: grid;
    grid-gap: 10px;
    padding: 10px;
}

.heading-container {
    max-width: 80vw;
    margin: 0 auto;
}

.featured-posts {
    grid-area: featured-posts;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'c1'
    'c2';
    grid-gap: 10px;
    padding: 10px;
    background-color: #f0f0f0;
}

.supporting-posts {
    grid-area: supporting-posts;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'c3'
    'c4'
    'c5';
    grid-gap: 10px;
    padding: 10px;
    background-color: #f0f0f0;
}

.c1 {
    grid-area: c1;
}

.c2 {
    grid-area: c2;
}

.c3 {
    grid-area: c3;
}

.c4 {
    grid-area: c4;
}

.c5 {
    grid-area: c5;
    order: 1;
}

.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 10px;
    background-color: #202020;
}

.footer-content {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    'social social'
    'search search';
    grid-gap: 10px;
    margin: 0 auto;
    width: 82vw;
    padding: 10px;
}

.social {
    grid-area: social;
    width: 45vw;
    padding: 10px;
    color: #f2f2f2;
}

.figure {
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
    border: 3px solid #8C8C8C;
}

.l-border {
    padding: 0 1rem;
    border-left: solid 10px #8C8C8C;
}

.thin-border {
    padding: 0 1rem;
    border-left: solid 1px #8C8C8C;
    border-right: solid 1px #8C8C8C;
}

@media(min-width:600px) {

    .hero-subheading {
        max-width: 30vw;
    }
    
    .navigation, .content, .blog-container, .form-container {
        margin: 0 auto;
        width: 82vw;
        max-width: 1440px;
    }

    .featured-posts {
        grid-template-areas: 
        'c1 c1 c2 c2';
    }
 
    .supporting-posts {
        grid-template-areas: 
        'c3 c4 c5';
    }

    .blog-container {
        grid-template-columns : 70% 30%;
        grid-template-areas: 
        'blog about';
        grid-gap: 10px;
    }

    .form-container {
        grid-template-columns : 70% 30%;
        grid-template-areas: 
        'form about';
        grid-gap: 10px;
    }
    
    .figure {
        width:90%;
        height:90%;
    }
  }
